.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
    margin-bottom: 2rem;
}

.itemCount {
    font-weight: 700;
    text-transform: uppercase;
}

.toggleFilter {
    color: var(--color-gray-500);
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 600;
    margin-left: 2rem;
}

.sortContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.select {
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    background: transparent;
}

@media (max-width: 768px) {
    .toggleFilter {
        display: block;
        /* Show on mobile */
        margin-left: 0;
        font-size: 14px;
    }

    .filterBar {
        flex-direction: row;
        /* keep row */
    }

    .itemCount {
        display: none;
        /* Hide item count on mobile if space is tight, or keep small */
    }
}