.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 4rem 0 2rem;
}

.topSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 2rem;
}

.subscribeSection,
.contactSection {
    flex: 1;
    min-width: 300px;
}

.sectionTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.subscribeForm {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.input {
    padding: 10px;
    flex: 1;
    border: 1px solid var(--color-white);
    background: transparent;
    color: white;
}

.button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid var(--color-gray-500);
    color: var(--color-gray-500);
    font-weight: bold;
    text-transform: uppercase;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Critical for wrapping */
    gap: 2rem;
    width: 100%;
}

.linkGroup {
    margin-bottom: 2rem;
}

.linkList li {
    margin-bottom: 0.5rem;
}

.linkList a {
    font-size: 14px;
    text-decoration: none;
}

.linkList a:hover {
    text-decoration: underline;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.paymentIcons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: var(--color-gray-200);
    margin-top: 2rem;
}

@media (max-width: 768px) {

    .topSection,
    .linksContainer {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 0;
    }

    .subscribeSection,
    .contactSection {
        min-width: 0;
        /* Allow shrinking */
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .subscribeForm {
        flex-direction: column;
    }
}